// GENERAL STYLES FOR SECTIONS, CONTAINERS OR FEATURES
// LGD General content

// Home Page Styling
// Home page intro
#home__intro {
	padding: 3em 0;
	border-bottom: 5px solid $light-grey;
	@include media(portrait) {
		padding: 0 0 3em;
	}
	.popular-links {
		h2{
			padding-bottom: 0;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				padding-left: 0;
				line-height:2.5em;
			}
		}
		@include media(small) {
			border-top: 1px solid $light-grey;
		}
	}
}

// Home page news section
#home__whats-new {
	padding: 5em 0;
	@include media(portrait) {
		padding: 2em 0 3em;
	}
	.feature-news{
		padding-right: 4%;
		@include media(portrait) {
			padding-bottom: 2em;
			padding-right: 2%;
		}

		@include media(small) {
			width:100%;
			padding-bottom: 0;
		}
		h2 {

		}
		p {
			margin-bottom: 0.5em;
		}
		.small-date {
			color: $content-black;
		}
		.open-news{
			margin-top:2em;
		}
	}
	.news-list {
		border-left: 2px dotted $light-grey;
		padding-left: 4%;
		@include media(portrait) {
			padding: 2em 2%;
			height: 480px;
			overflow-y: scroll;
			padding: 0 4%;
		}
		@include media(small) {
			display: none;
			overflow: visible;
			padding: 0 2%;
		}
		h2 {
			padding-top: 0;
			padding-bottom: 0;
		}
		ul {
			margin-left: 0;
			h3 {
				padding-bottom: 0;
			}
		}

	}

}

// Home page product banners section
#home__product-banners {
	background-color: $light-grey;
	padding: 7em 0;
	@include media(small_landscape) {
		padding: 5em 0;
	}
	@include feature-banner();
}


// Home page local voice section
#home__digital-voice {
	padding: 5em 0;
	h2 {
		padding-top: 0;
		@include media(medium) {
			padding-bottom: 0;
		}
	}
	.digital-voice-listings{
		ul{
			margin-left: 0;
			margin-top: 2em;
			margin-bottom: 2em;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			@include media(portrait) {
				margin-bottom: 0em;
				margin-top: 0em;
			}
			li {
				transition: all 0.5s ease 0s;
				float: left;
				margin-left: 2%;
				margin-bottom: 2em;
				width: 32%;
				border: 1px solid $mid-grey;
				border-left: 3px solid $light-grey;
				&:nth-child(1), &:nth-child(4){
					margin-left: 0;
				}
				&:hover{
					transition: all 0.5s ease 0s;
					background-color: $xlight-blue;
					cursor: pointer;
					border-left: 3px solid $mid-grey;
				}
				@include media(medium) {
					width: 49%;
					&:nth-child(1), &:nth-child(3), &:nth-child(5){
						margin-left: 0;
					}
					&:nth-child(4) {
						margin-left: 2%;
					}
				}
				@include media(small) {
					width:100%;
					margin-left: 0;
				}
				a{
					transition: all 0.5s ease 0s;
					display: block;
					width: 100%;
					height: 100%;
					padding: 1.5em 7% 2.0em;
					margin-bottom: 3px;
					h3{
						font-size: 1.2em;
						padding-top: 0;
						color: $link-blue;
					}
					color: inherit;
					&:hover{
						transition: all 0.5s ease 0s;
						border: none;

					}
				}


			}
		}
		.digital-voice-button {
			.button {
				margin-top: 0;
			}
		}
	}
}

// Home page event banners section
#home__event-banners {
	background-color: $light-grey;
	padding: 7em 0;
	@include media(small_landscape) {
		padding: 5em 0;
	}
	@include feature-banner();
	.button {
		margin-top: 1.5em;
	}
}