// GENERAL STYLES FOR SECTIONS, CONTAINERS OR FEATURES
// LGD General content

// Home Page Styling
// Home page intro
#home__intro {
	padding: 3em 0;
	border-bottom: 5px solid $light-grey;
	background-color: $light-black;
	color: $white;
	margin-top: -5px;
	h1 {
		color: $white;
	}
	@include media(portrait) {
		padding: 0 0 3em;
	}
	.popular-links {
		h2{
			padding-bottom: 0;
			color: $white;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				padding-left: 0;
				line-height:2.5em;
				font-size: 1.2em;
				color: $white;
				a {
					color: $white;
					&:hover {
						border-bottom-color: $white;
					}
				}
			}
		}
		@include media(small) {
			border-top: 1px solid $dark-grey;
		}
	}
}

// Home page news section
#home__whats-new {
	padding: 5em 0;
	@include media(portrait) {
		padding: 2em 0 3em;
	}
	.feature-news{
		padding-right: 4%;
		@include media(portrait) {
			padding-bottom: 2em;
			padding-right: 2%;
		}

		@include media(small) {
			width:100%;
			padding-bottom: 0;
		}
		h2 {

		}
		p {
			margin-bottom: 0.5em;
		}
		.small-date {
			color: $content-black;
		}
		.open-news{
			margin-top:2em;
		}
	}
	.news-list {
		border-left: 2px dotted $light-grey;
		padding-left: 4%;
		@include media(portrait) {
			padding: 2em 2%;
			height: 480px;
			overflow-y: scroll;
			padding: 0 4%;
		}
		@include media(small) {
			display: none;
			overflow: visible;
			padding: 0 2%;
		}
		h2 {
			padding-top: 0;
			padding-bottom: 0;
		}
		ul {
			margin-left: 0;
			h3 {
				padding-bottom: 0;
			}
		}

	}

}

// Home page product banners section
#home__product-banners {
	background-color: $xlight-blue;
	border-top: 5px solid $vlight-blue;
	padding: 7em 0;
	@include media(small_landscape) {
		padding: 5em 0;
	}
	@include feature-banner();

}

.banner_1 {
	border-top: 7px solid $error-red;
}
.banner_2 {
	border-top: 7px solid $green;
}
.banner_3 {
	border-top: 7px solid $link-blue;
}

// Home page local voice section
#global__digital-listings {
	padding: 5em 0;
	h2 {
		padding-top: 0;
		@include media(medium) {
			padding-bottom: 0;
		}
	}
	.digital-listings{
		padding-left: 0;
		ul{
			margin-left: 0;
			margin-top: 2em;
			margin-bottom: 2em;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			@include media(portrait) {
				margin-bottom: 0em;
				margin-top: 0em;
			}
			li {
				transition: all 0.5s ease 0s;
				float: left;
				margin-left: 2%;
				margin-bottom: 2em;
				width: 32%;
				border: 1px solid $mid-grey;
				border-left: 3px solid $link-blue;
				list-style: none;
				position: relative;
				&:nth-child(odd){
					margin-left: 0;
				}
				&::before {
					content:'';
					background-color: rgba(240, 249, 255, 0);
					transition: all 0.5s ease;
					width: 0;
					height: 100%;
					position: absolute;
					z-index: -10;
				}
				&:hover{
					transition: all 0.5s ease 0s;
					border-left: 3px solid $light-black;
					cursor: pointer;
					&::before {
						width: 100%;
						background-color: rgba(240, 249, 255, 1);
						transition: all 0.5s ease;
					}
				}
				@include media(medium) {
					width: 49%;
					&:nth-child(1), &:nth-child(3), &:nth-child(5){
						margin-left: 0;
					}
					&:nth-child(4) {
						margin-left: 2%;
					}
				}
				@include media(small) {
					width:100%;
					margin-left: 0;
				}
				a{
					transition: all 0.5s ease 0s;
					display: block;
					width: 100%;
					height: 100%;
					padding: 1.5em 7% 2.0em;
					margin-bottom: 3px;

					h3{
						font-size: 1.2em;
						padding-top: 0;
						color: $link-blue;
					}
					color: inherit;
					&:hover{
						transition: all 0.5s ease 0s;
						border: none;


					}
				}


			}
		}
		.digital-voice-button {
			.button {
				margin-top: 0;
			}
		}

		.first-item {
			margin: 3em 0;
			overflow: hidden;
			.first-item-left {
				width: 50%;
				float: left;
				@include media(small) {
					width: 100%;
				}
			}
			.first-item-right {
				width: 45%;
				float: left;
				padding-left: 5%;
				.formatted-intro {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				@include media(small) {
					width: 100%;
					padding-left: 0;
					margin-top: 2em;

				}

			}
		}

		.digital-listings-items {
			&.news {
				margin-top: 3em;
			}
		}
	}
}

.body_content #global__digital-listings {
	padding: 0em 0;
	li {
		padding-left: 0;
		a {
			h2 {
				color: $link-blue;
			}
		}
	}
}

// Home page event banners section
#home__event-banners {
	background-color: $xlight-blue;
	border-top: 5px solid $vlight-blue;
	padding: 7em 0;
	@include media(small_landscape) {
		padding: 5em 0;
	}
	@include feature-banner();
	.button {
		margin-top: 1.5em;
	}
}

// Global content styles
#global__content {
	padding-top: 3em;
	padding-bottom: 4em;
	@include media(portrait) {
		padding-bottom: 0em;
		padding-top: 0;
		.body_content {
			padding-bottom: 2em;
			width: 100%;
		}
	}
}

.formatted-intro {
	font-size: 1.3em;
	margin-bottom: 2em;
	padding: 0.5em 0;
}


// Standards list items
#standards__overview {
	h2{
		font-size: 1.3em;
	}
	.standards-list {
		.standards-item {
			border-top: 1px solid $light-grey;
			padding-top: 3em;
			margin-bottom: 2em;
			overflow: hidden;

			.standards_number {
				font-weight: bold;
				font-size: 1.8em;
				line-height: 1.4em;
				display: block;
			}
			h2 {
				font-size: 1.8em;
				padding-top: 0;
				padding-bottom: 0;
				font-weight: bold;
			}
			p {
				margin-bottom: 1em;
				font-size: 1.2em;
			}
		}
	}
}

// Standards detail page
#standards__detail {
	.lgdss-title {
		font-size: 1.5em;
		margin-top: 0.5em;
		color: $dark-grey;
	}
	.standard-point {
		border-top: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
		margin: 2em 0 3em;
		padding: 2.2em 0 2em;
		.standard-intro {
			font-size: 1.3em;
		}
	}
	.standard-guidelines {
		h2 {
			font-size:1.5em;
		}

	}
	.standard-assessment {
		h2 {
			font-size:1.5em;
		}
	}

}

// Peer groups list page
.peer-list {
	margin-left: 0;
	display: flex;
	flex-flow: wrap;
	li{
		border: 1px solid $light-grey;
		padding-top: 3em;
		margin-bottom: 2em;
		overflow: hidden;
		width: 48%;
		margin-right: 2%;
		float: left;
		padding: 1.5em 2em;
		@include media(portrait) {
			width:100%;
		}
		h2 {
			font-weight: bold;
		}
		&:last-child {
			border-bottom: 1px solid $light-grey;
			padding-bottom: 2em;
			margin-bottom: 4em;
			@include media(portrait) {
				margin-bottom: 2em;
			}
		}
	}

}

// Global content styles
#global__body_content {
	ul {
		li{
			list-style: circle;
			padding-left: 1em;
		}
	}
}

.body_content {
	ul {
		list-style: disc;
		li {
			padding-left: 1em;
		}
	}
}

// Eventbrite lists
.event-content {
	h2 {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}

.entry-meta {
	margin-top: 1em;
}

.event-overview {
	border-bottom: 5px solid $light-grey;
	margin-bottom: 2em;
	float: left;
	.event-booking-widget {
		margin-top: 3em;
		padding-bottom: 3em;
	}
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}



