// HEADER STYLING

// Branding and main navigation
#global__brand-nav {
	border-top:1px solid $light-grey;
	border-bottom:1px solid $light-grey;
	width: 100%;
	padding: 2em 0;
	display: flex;
	@include media(portrait) {
		display: inline-block;
		clear: both;
	}
	@include media(xsmall) {
		padding: 2em 0 1em;
	}
	.brand {
		@include media(portrait) {
			width: 100%;
			padding-left:1em;
		}
		img{
			width: 100%;
			height: auto;
			max-width: 300px;
			position: relative;
			top:50%;
			margin-top: -1.6em;
			@include media(portrait) {
				margin-top: 0.2em;
			}
			@include media(xsmall) {
				max-width: 225px;
			}
		}
	}
	.main-nav {
		@include media(portrait) {
			.navbar{
				margin-right:0;
			}
		}
		float: right;
		padding-right: 0;
		padding-top: 0.4em;
		nav {
			float: right;
			margin-right: 1em;
		}
	}
}

// Breadcrumb trails
#global__breadcrumb{
	margin: 2em 0;
}



