// MENU STYLES

// Search icon - mangnifying glass
.fa-search {
	&:before {
		content:"\f002";
	}
}

// Arrow icon
.fa-nav {
	&:before {
		content:"\f0c9";
	}
}

// Top nav styles
#global__top-links{
	display: block;
	clear:both;
	padding-right: 0;
	@include media(small) {
		padding-left: 0;
	}
	ul {
		float: right;
		@include media(small) {
			width: 100%;
		}
		li {
			position: relative;
			border-left: 1px solid $light-grey;
			padding: 0.8em 1em 0;
			height: 3em;
			min-width:100px;
			vertical-align: top;
			@include media(small) {
				min-width: inherit;
				padding: 3% 0;
				width: 20%;
				vertical-align: middle;
				height: inherit;
			}
			a {
				border-left:none;
				border-right:none;
				color: $content-black;
				padding: 0.3rem 0.7rem;
				&:focus {
					outline: none;
					border-bottom: 2px solid $orange;
				}
			}
			&.menu-twitter a {
				@include social_icons(twitter, $light-black, $light-blue, 1.5em);
			}
			&.menu-google-plus a {
				@include social_icons(gplus, $light-black, $light-blue, 1.5em);
			}
			&.menu-slack a {
				@include social_icons(slack, $light-black, $light-blue, 1.5em);
			}
		}
	}
}

// Main nav styles
#global__brand-nav {
	.brand {
		.toggle-area {
			list-style: none;
			display: none;
			position: relative;
			margin: 0;
			@include media(portrait) {
				display: block;
				padding-left: 0em;
				padding-right: 0.9375em;
				float: right;
			}
			li {
				margin-bottom: 5px;
				margin-right: 0;
				margin-top: 5px;
				@include media(xsmall) {
					margin-top: 0;
				}

				padding: 5px 7px 4px;
				width: 37px;
				&:hover {
					transition: all 0.5s ease 0s;
					cursor: pointer;
				}
				i {
					color: $content-black;
					font-size: 1.6em;
				}
			}
		}
	}
	.main-nav {
		height: auto;
		//min-height:50px;
		@include media(portrait) {
			width: 100%;
			.column {
				padding: 0;
			}
		}
		.navbar {
			padding: 0;
			@include media(portrait) {
				float: none;
			}
		}
		section {
			position: relative;
			@include media(portrait) {
				display: none;
				width: 100%;
				&.open {
					display: block;
				}
			}

			ul {
				margin: 0;
				@include media(small_landscape) {
					display: flex;
				}

				@include media(portrait) {
					width: 100%;
					display: block;
				}

				> li {
					border-right: 1px solid $light-grey;
					color: $light-black;
					display: block;
					float: left;
					//height: 100%;
					position: relative;
					//transition: all 0.5s ease 0s;
					min-height: 1.8em;
					&:first-child {
						border-left: 1px solid $light-grey;
						@include media(portrait) {
							border-left: none;
						}
					}
					a {
						color: $light-black;
						display: block;
						padding: 0.2em 0.6em 0.1em;
						line-height: 135%;
						text-decoration: none;
						box-sizing: border-box;
						&:focus {
							outline: none;
							border-bottom: 2px solid $orange;
						}
					}
					@include media(portrait) {
						width: 100%;
						border-bottom: 1px solid vlight-grey;
						border-right: none;
						height: auto;
						min-height: auto;
						a {
							padding: 0.5em 0.6em;
						}
					}

				}
			}
			.has-dropdown {
				@include media(portrait) {
					padding: 0;
				}
				a {
					padding-right: 29px;
					&:focus {
						outline: none;
						border-bottom: 2px solid $orange;
					}
				}
				&:before {
					font-family: FontAwesome;
					content: "\f107";
					float: right;
					padding-right: 10px;
					padding-top: 3px;
					font-size: 0.9em;
					@include media(portrait) {
						padding-right: 2.7em;
					}
				}
				> .dropdown {
					display: none;
					height: auto;
					width: 300px;
					left: 0;
					top: 100%;
					position: absolute;
					background-color: $white;
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 0;
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
					list-style: outside none none;
					padding: 1.0em 1.2em 1.2em;
					z-index: 1000;
					font-weight: normal;
					overflow: hidden;
					@include media(portrait) {
						position: relative;
						background-color: $white;
						color: $light-black;
						width: 100%;
						border: none;
						box-shadow: none;
						padding: 0;
						border-top: 1px solid $light-grey;
					}
					&.drop-left {
						left: auto;
						right: 0;
					}
					li {
						width: 100%;
						border: none;
						min-height: 2.2em;
						@include media(small_landscape) {
							min-height: 40px;
						}
						&:before {
							transition: all 0.5s ease 0s;
							font-family: FontAwesome;
							content: "\f105";
							float: left;
							color: $light-black;
							font-size: 1.0em;
							font-weight: bold;
							margin-left: 0.2em;
							margin-top: 0.2em;
							@include media(portrait) {
								color: $light-grey;
							}
						}
						&:hover {
							&:before {
								transition: all 0.5s ease 0s;
								color: $vlight-blue;
								margin-left: 0.5em;
							}
							@include media(portrait) {
								background-color: $xlight-blue
							}
						}
						a {
							color: $light-black;
							display: block;
							padding-left: 25px;
							text-decoration: none;
							line-height: inherit;
							@include media(portrait) {
								color: $content-black;
							}
							&:focus {

							}
						}
						.menu-item-description {
							font-weight: normal;
							display: block;
							line-height: 1.2em;
						}

					}
					.menu-label {
						width: 100%;
						&:before {
							content: none;
						}
						&:hover {
							background-color: $white;
							@include media(portrait) {
								background-color: $light-blue;
							}
						}
						a {
							padding-left: 15px;
							font-size: 1.2em;
							cursor: default;
						}
					}

				}

				&.expand {
					> .dropdown {
						transition: all 0.5s ease 0s;
						display: block;
					}
				}

			}
		}
		.title.back.js-generated, .parent-link.hide-for-large-up {
			display: none !important;
		}
	}
}

// Footer nav styles
#footer__nav-links {
	#menu-footer-nav {
		display: flex;
		flex-flow: wrap;
		> li {
			width: 50%;
			float: left;
			margin-bottom: 2em;
			a {
				line-height: 1.5em;
			}
			&.has-dropdown {
				ul {
					margin: 0;
					padding: 0;
					li {
						margin-left: 0;
					}
				}
			}
			> a {
				margin: 0;
				padding: 0;
				cursor: default;
				color: $content-black;
				font-weight: bold;
				&:hover {
					border-bottom: none;
				}
			}
		}
	}

}

// Footer terms styles
#footer__terms-links {
	padding-top: 3em;
	.copyright {

	}
	.menu-terms-container {
		ul {
			float: right;
			li {
				vertical-align: top;
				a {
					padding-bottom: 0;
					padding-top: 0;
					line-height: 1.5em;
				}
			}
		}
	}
}