// SIDEBAR STYLES
#global__sidebar {
	@include media(portrait) {
		width: 100%;
		background-color: $light-grey;
		border-bottom: 2px solid $light-grey;
		padding: 3em 1em;
		@include media(portrait) {
			padding: 2em 1em;
		}
	}
	aside{
		padding: 0em 1.5em;
		@include media(portrait) {
			//border-top: 10px solid $content-black;
			padding: 0em;
		}

		.sidebar_content {
			border-top: 10px solid $content-black;
			@include media(portrait) {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}
			margin-top: 0.8em;
			padding-top: 1.5em;
			h2 {
				font-size: 1.7em;
				padding-top: 0.3em;
				padding-bottom: 0;
			}
			h3 {
				font-size: 1.4em;
				margin-top: 1em;
				&:first-of-type {
					margin-top: 0em;
				}
			}

			ul{
				margin: 1em 0;

				li{
					list-style: none !important;
					padding: 0 0 1em 0em;
					@include media(small_landscape) {
						padding: 0 0 1em 0em;
					}
				}
				&.peer_group_leads {
					li {
						border-left: 4px solid $light-grey;
						padding-left: 1em;
						padding-bottom: 0;
						margin-top: 1em;
					}
				}
				&.peer_group_contact {
					li {
						a {
							font-size: 1em;
							margin-left: 0.5em;
						}
					}
				}
			}
			a {
				font-size: 1.2em;
			}
			#sidebar-widgets{
				.widget_recent_entries{
					li {
						a {
							font-size: 1em;
						}
						.post-date {
							display: block;
						}
					}
				}
			}
		}
	}
}