// GENERAL STYLES FOR FORMS

label, legend {
	font-size: 1em;
	line-height: 2.5em;
	display: inline;
	&.wrapper-label {
		padding: 0 1em;
		input[type="radio"] {
			margin-right: 0.5em;
			cursor: pointer;
		}
		input[type="checkbox"] {
			margin-right: 0.5em;
			margin-bottom: 0;
			cursor: pointer;
		}
	}
}


//** Default form styles

input[type="email"],
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea, select {
	color: $content-black;
	display: inline;
	border: 2px solid $content-black;
	&:focus {
		outline: 3px solid $orange;
		outline-offset: 2px;
	}
	&.small {
		max-width: 200px;
	}

	&.medium {
		max-width: 500px;
	}
}

textarea {
	max-height: 150px
}

//** GDS radio and checkbox styling

// Radio and checkbox styling
input[type="checkbox"], input[type="radio"] {
	opacity: 0;
	height:38px;
	width:38px;
	margin-bottom: 0.5em;
	position: absolute;
	top:0;
	left:0;
}

input[type="checkbox"] + label::after {
	content: "";
	border: solid;
	border-width: 0 0 5px 5px;
	border-color: $content-black;
	background: transparent;
	width: 17px;
	height: 7px;
	position: absolute;
	top: 17px;
	left: 13px;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
}

input[type="checkbox"] + label::before {
	content: "";
	border: 2px solid $content-black;
	background: transparent;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 4px;
	margin-left: 4px;
}

input[type="radio"] + label::after {
	content: "";
	border: 10px solid $content-black;
	width: 0;
	height: 0;
	position: absolute;
	top: 11px;
	left: 11px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	opacity: 0;
}

input[type="radio"] + label::before {
	content: "";
	border: 2px solid $content-black;
	background: transparent;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 4px;
	margin-left: 4px;
}

input:checked + label::before {
	font-weight: normal;
	outline: 3px solid $orange;
}

input[type="radio"]:checked + label::before, input[type="radio"]:focus + label::before {
	box-shadow: 0 0 0 3px $orange;
	outline: none;
}

input:checked + label::after {
	opacity: 1;
}

label {
	color: $content-black;
	line-height: 1.5em;
	cursor: pointer;
	display: block;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.ui-datepicker-header {
	background-color: $content-black;
	a {
		border-bottom: none;
	}
}


// Gravity forms specific workaround
.body_content {
	.gform_wrapper {
		ul {
			li {
				input[type="checkbox"], input[type="radio"] {
					width:38px !important;
				}

				input[type="checkbox"] + label, input[type="radio"] + label {
					padding-left: 0.5em !important;
					font-size: 1rem !important;
					width: inherit;
					max-width: none;
				}

				input:checked + label {
					font-weight: normal;
				}
				.ginput_container {
					label {
						padding: 8px 10px 9px 12px !important;
					}
				}

			}
		}
	}
}

//** Form validation and error messaging

// Inline validation error styles
.gform_validation_container {
	display: none;
}

.gfield_error {
	.ginput_container {
		input[type="email"],
		input[type="number"],
		input[type="tel"],
		input[type="text"],
		input[type="url"],
		input[type="radio"],
		input[type="checkbox"],
		textarea, select {
			outline: 2px solid $error-red;
			&:focus {
				outline: 1px solid $error-red;
			}
		}
	}
	.validation_message {
		padding-top: 0;
		margin-top: 0;
		padding-left: 0;
		color: $error-red;
	}
}

// top panel error message
.gform_validation_error {
	.top-error-panel {
		margin: 0 2% 2.5em;
		border-top: 5px solid $error-red;
		border-bottom: 5px solid $error-red;
		padding: 1em 0em;
		h2 {
			font-size: 2rem;
		}
	}
}

// Form confirmation page styling
.form_confirmation {
	margin: 0 0 2.5em;
	border-top: 5px solid $mid-grey;
	border-bottom: 5px solid $mid-grey;
	padding: 1em 1.5em;
	background-color: #e5f1f9;
	p {
		margin: 0 1em;
	}
	h3 {
		text-align: center;
	}
}


// Gravity forms layout styling
.body_content {
	.gform_wrapper {
		.gform_body {
			padding-left: 2%;
			ul {
				padding: 0;
				margin: 0;
				li.gfield {
					list-style: none;
					padding-left: 0;
					padding-right: 0;

					&::before {
						background-color: inherit;
					}
					.gfield_required {
						display: none;
					}
					.page-indicator {

					}
					h2 {
						padding-top: 1rem;
					}

					.gfield_description {
						font-size: 1rem;
					}
				}
				&.gfield_checkbox, &.gfield_radio {
					li {
						padding-left: 50px !important;

					}
				}
			}
			.gform_page_footer {
				margin-top: 3em;
				.button {
					margin-top: 1em;
					margin-bottom: 0;
				}
			}
		}
		.gform_footer{
			padding-left: 2%;
		}
	}
	// confirmation page styles
	.form-responses {
		.hidden-content {
			display: none;
		}
		ul {
			li {
				margin-bottom: 1em;
			}
		}
	}
	.additional-notes {
		border-top: 1px dotted $light-grey;
		padding-top: 1em;
		margin-top: 3em;
	}
}
